<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MyFiles</servlet-name>
        <servlet-class>servlet.MyFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfile</servlet-name>
        <servlet-class>servlet.MyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenameFile</servlet-name>
        <servlet-class>servlet.RenameFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>servlet.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlet.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUsers</servlet-name>
        <servlet-class>servlet.MyUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMyProfile</servlet-name>
        <servlet-class>servlet.UpdateMyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Affectation</servlet-name>
        <servlet-class>servlet.Affectation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>servlet.Deconnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFile</servlet-name>
        <servlet-class>servlet.DeleteFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>servlet.UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPicture</servlet-name>
        <servlet-class>servlet.UploadPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parameter</servlet-name>
        <servlet-class>servlet.Parameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateParameter</servlet-name>
        <servlet-class>servlet.UpdateParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activation</servlet-name>
        <servlet-class>servlet.Activation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>servlet.Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMessage</servlet-name>
        <servlet-class>servlet.AddMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableauDeBord</servlet-name>
        <servlet-class>servlet.TableauDeBord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveUser</servlet-name>
        <servlet-class>servlet.ActiveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LireTousMessage</servlet-name>
        <servlet-class>servlet.LireTousMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historique</servlet-name>
        <servlet-class>servlet.Historique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenFile</servlet-name>
        <servlet-class>servlet.OpenFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimerHistorique</servlet-name>
        <servlet-class>servlet.supprimerHistorique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FermerSession</servlet-name>
        <servlet-class>servlet.FermerSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyFiles</servlet-name>
        <url-pattern>/MyFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfile</servlet-name>
        <url-pattern>/MyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenameFile</servlet-name>
        <url-pattern>/RenameFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUsers</servlet-name>
        <url-pattern>/MyUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMyProfile</servlet-name>
        <url-pattern>/UpdateMyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Affectation</servlet-name>
        <url-pattern>/Affectation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/Deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFile</servlet-name>
        <url-pattern>/DeleteFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/UpdateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPicture</servlet-name>
        <url-pattern>/UploadPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parameter</servlet-name>
        <url-pattern>/Parameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateParameter</servlet-name>
        <url-pattern>/UpdateParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activation</servlet-name>
        <url-pattern>/Activation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMessage</servlet-name>
        <url-pattern>/AddMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableauDeBord</servlet-name>
        <url-pattern>/TableauDeBord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveUser</servlet-name>
        <url-pattern>/ActiveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LireTousMessage</servlet-name>
        <url-pattern>/LireTousMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historique</servlet-name>
        <url-pattern>/Historique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenFile</servlet-name>
        <url-pattern>/OpenFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimerHistorique</servlet-name>
        <url-pattern>/supprimerHistorique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FermerSession</servlet-name>
        <url-pattern>/FermerSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
